body {
  margin: 0 auto;
  display: block;
  font-size: 20px;
}

#wrapper-app {
  border: 0px solid rgba(245, 13, 187, 0.932);
  max-width: 470px;
  margin: 0 auto;
  text-align: center;
}

#weather-app {
  font-family: "Poppins", sans-serif;
  color: hsl(-510deg 39% 56%);
  margin: 0px auto;
  margin-top: 7%;
  border: 0px solid rgb(163, 161, 161);
  border-radius: 12px;
  padding: 15px;
  background: linear-gradient(to bottom, #d2ebf3 10%, #f7cf75 130%);
  box-shadow: 0 6px 35px 0 rgba(0, 0, 0, 0.5), 0 0px 88px 0 rgba(0, 0, 0, 0.5);
}

#search-button {
  color: #5092da;
  border-color: #649cd8;
  font-size: 16px;
  padding: 7px 0 6px 2px;
}

#search-button:hover {
  color: white;
  border-color: #5092da;
  background-color: #5092da;
}

#current {
  font-size: 16px;
  padding: 7px 0 6px 2px;
}

#city-input {
  color: rgb(110, 105, 105);
}

.overview {
  margin-bottom: 15px;
  text-align: center;
}

h1 {
  font-size: 46px;
  margin: 0px auto 15px;
}

#date,
#description {
  list-style: none;
  text-transform: capitalize;
  margin: 0 auto;
}

.weather-temperature img {
  margin: -52px auto;
  display: block;
  width: 57%;
}

#big-temp {
  text-align: right;
  padding-right: 3px;
}

#c-f {
  text-align: left;
  top: 15px;
  padding-left: 3px;
}

#temperature {
  font-size: 55px;
}

#details {
  margin: 10px auto;
  font-size: 15px;
  text-align: center;
}

.weather-temperature strong {
  font-size: 55px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature #degrees {
  position: relative;
  top: -30px;
}

.weather-temperature .active {
  color: rgb(94, 93, 93);
  cursor: default;
}

.row #forecast-weather {
  margin: 10px 10px 10px 10px;
  color: hsl(-325deg 52% 58%);
}

div#dairy.col-4 {
  text-align: center;
  margin: 5px;
  padding: 5px;
  max-width: 27%;
  margin: 5px auto 10px;
}

div#dairy.col-4:hover {
  border-radius: 12px;
  background: linear-gradient(to bottom, #fae8bf 10%, #fcd57c 130%);
  box-shadow: 0 2px 20px 0 rgba(39, 37, 37, 0.842),
    0 0px 0px 0 rgba(31, 29, 29, 0.842);
}

.day-icon {
  width: 75%;
  margin: 0 auto;
  display: block;
}

.day,
.day-temp {
  text-align: center;
  font-size: 15px;
}

#credits {
  font-size: 95%;
  font-weight: bolder;
}

a {
  color: teal;
}

#numbers {
  margin: 0 20px 0 20px;
}
