body {
  margin: 0 auto;
  display: block;
  color: rgb(94, 93, 93);
}

#wrapper-app {
  border: 0px solid rgba(245, 13, 187, 0.932);
  max-width: 470px;
  margin: 0 auto;
}

#weather-app {
  margin: 0px auto;
  margin-top: 7%;
  border: 2px solid rgb(163, 161, 161);
  border-radius: 12px;
  padding: 15px;
  background: linear-gradient(to bottom, #6cc8e6 15%, #f5bb8a 94%);
  box-shadow: 0 6px 35px 0 rgba(0, 0, 0, 0.5), 0 0px 88px 0 rgba(0, 0, 0, 0.5);
}

.overview {
  margin-bottom: 15px;
  text-align: center;
}

h1 {
  font-size: 60px;
  margin: 0px auto 15px;
}

ul {
  margin: 0;
  padding: 0;
}

#date,
#description {
  list-style: none;
  text-transform: capitalize;
  margin: 0 auto;
}

.weather-temperature img {
  margin: -65px auto;
  display: block;
  width: 60%;
}

#numbers {
  text-align: center;
}

#temperature {
  font-size: 55px;
}

#details {
  margin: 10px auto;
  font-size: 13px;
  text-align: center;
}

.weather-temperature strong {
  font-size: 55px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature #degrees {
  position: relative;
  top: -30px;
}

.weather-temperature .active {
  color: rgb(94, 93, 93);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.row #forecast-weather {
  margin: 10px 10px 10px 10px;
}

div#dairy.col-4 {
  text-align: center;
  margin: 5px;
  padding: 5px;
  max-width: 27%;
  margin: 5px auto 10px;
}

div#dairy.col-4:hover {
  border-radius: 12px;
  background-color: rgb(245, 240, 240);
}

.day-icon {
  margin: 0 auto;
  display: block;
}

.day,
.day-temp {
  text-align: center;
  font-size: 13px;
}

#current {
  font-size: 16px;
  padding: 7px;
}
